<!DOCTYPE html>
<html xmlns:th='http://www.thymleaf.org'>
<head>
<meta charset="UTF-8">
<title>상품선택화면</title>
</head>
<body>
상품선택
아이디에 따른 계좌번호 리스트 보여주기
<form action="/addOrder" method="post">
	<table>
	<tr>
		<td>계좌번호: <select name="accountNumber">
				<option selected="selected" th:each="a : ${accountList}" th:text="${a.accountNumber}"></option>
					</select>
		</td>
	</tr>
	<tr>
		<td>회원ID: <input type="text" name="clientId" th:value="${session.sessionId}" readonly="readonly"></td>
	</tr>
	<tr>
		<td>종목명: <select name="itemCode">
				<option th:value="삼성">삼성</option>
				<option th:value="LG">LG</option>
				<option th:value="애플">애플</option>
				</select>
		</td>	
		<td>수량: <input type="number" name="orderCount">
		</td>
					
		<td>금액: <input type="text" name="orderPrice">
		</td>
	</tr>
	<tr>
		<td><input type="submit" value="주문"></td>
	</tr>
	</table>
</form>
</body>
</html>